<div class="background {{ 'slide-bg' }}">
    {% set video = block.backgroundVideo.one() %}
    {% if video %}
        <video autoplay loop muted preload="metadata" playsinline webkit-playsinline>
            <source src="{{ video.url }}" type="video/mp4">
        </video>
    {% elseif block.backgroundImage.one() %}
        {% set bg = block.backgroundImage.one() %}
        {% if bg %}
            <img src="{{ bg.getUrl('backgroundFit') }}" alt="The background image for {{ block.title }}" style="{% if block.backgroundSize %}object-fit:{{ block.backgroundSize }};{% endif %}
    {% if height is defined %}
        {% set dynamicHeight = height | default('100') %}
        {% if dynamicHeight | replace('px', '') != dynamicHeight %}
            height: {{ dynamicHeight }};
        {% else %}
            height: {{ dynamicHeight }}%;
        {% endif %}
    {% endif %}">
        {% endif %}
    {% endif %}
    {% if block.backgroundOverlay %}
        <div class="overlay" style="opacity: {{ block.backgroundOverlay | default(10) / 10 }}"></div>
    {% endif %}
</div>
