<div class="background {{ 'slide-bg' }}">
    {% set video = block.backgroundVideo.one() %}
    {% if video %}
        <video autoplay loop muted preload="metadata" playsinline webkit-playsinline>
            <source src="{{ video.url }}" type="video/mp4">
        </video>
    {% elseif block.backgroundImage.one() %}
        {% set bg = block.backgroundImage.one() %}
        {% if bg %}
        {% set transform = 
            [
                {
                    asset: bg,
                    transform: {
                        width: 1920,
                        height: 1080,
                        mode: 'crop',
                        format: 'avif'
                    }
                }      
            ]
         %}

        {# {% set style = {
            style: '{% if block.backgroundSize %}object-fit:{{ block.backgroundSize }};{% endif %}{% if height is defined %}height:{{ dynamicHeight }}%;{% endif %}',
        } %} #}

        {% set attributes = {
            quality: 90,
        } %}

        {{ craft.images.pictureMultiple(transform, attributes) }}
        {% endif %}
    {% endif %}
    {% if block.backgroundOverlay %}
        <div class="overlay" style="opacity: {{ block.backgroundOverlay | default(10) / 10 }}"></div>
    {% endif %}
</div>
