{# Initialize variable to store textAlignment #}
{% set textAlignment = '' %}

{# Initialize variable to store maximum maxWidth #}
{% set maxChildMaxWidth = null %}

{# Loop through blocks to find the first textAlignment value and maximum maxWidth #}
{% for block in entry.landingSection.all() %}
    {% if block.textAlignment is not empty and textAlignment == '' %}
        {% set textAlignment = block.textAlignment %}
    {% endif %}
    {% if block.maxWidth is not null and (maxChildMaxWidth is null or block.maxWidth > maxChildMaxWidth) %}
        {% set maxChildMaxWidth = block.maxWidth %}
    {% endif %}
{% endfor %}

<div class="landing-section {{ entry.slug }}">
    <div class="inner {{ textAlignment }}">
        <div class="text" {% if maxChildMaxWidth is not null %}style="max-width: {{ maxChildMaxWidth }}px;"{% endif %}>
            {% for block in entry.landingSection.all() %}
                {% switch block.type.handle %}
                    {% case 'iframe' %}
                        {% if block.maxWidth %}
                            <div class="iframe-wrapper" style="max-width:{{ block.maxWidth }}px;">
                                {{ block.iframe | raw }}
                            </div>
                        {% else %}
                            {{ block.iframe | raw }}
                        {% endif %}
                    {% case 'description' %}
                        {% if block.maxWidth %}
                            <div class="description-wrapper" style="max-width:{{ block.maxWidth }}px;">
                                {{ block.description }}
                            </div>
                        {% else %}
                            {{ block.description }}
                        {% endif %}
                    {% case 'buttons' %}
                        <div class="buttons">
                            {% for button in block.buttons.all() %}
                                <a class="btn border" href="{{ button.buttonLink }}" class="button">{{ button.buttonText }}</a>
                            {% endfor %}
                        </div>
                    {% case 'image' %}
                        {% set image = block.image.one() %}
                        {% if block.maxWidth %}
                            <img src="{{ image.url }}" alt="An image for {{ block.title }}" style="max-width: {{ block.maxWidth }}px;">
                        {% else %}
                            <img src="{{ image.url }}" alt="An image for {{ block.title }}">
                        {% endif %}
                    {% case 'awards' %}
                        {% include '_includes/awards' %}
                {% endswitch %}
            {% endfor %}
        </div>
    </div>

    {% for block in entry.landingSection.all() %}
        {% switch block.type.handle %}
            {% case 'background' %}
                {% include "_includes/background" %}
        {% endswitch %}
    {% endfor %}
</div>
