{% set nodes = craft.navigation.nodes('header').level(1).with(['children.children']).all() %}

<nav>
	<div class="wrapper">
		{% if craft.rebrand.isLogoUploaded() %}
			<a href="{{ currentSite.baseUrl }}" class="logo">
			    <img src="{{ craft.rebrand.getLogo().url }}" alt="{{ siteName }} Logo">
		    </a>
		{% else %}
		    Not set.
		{% endif %}
		<div class="hamburger">
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
		<ul class="primary-links">
		    {% for node in nodes %}
		        <li class="link">
		            {{ node.link }}
		            <ul class="slider secondary-links {% if node.children|length < 3 %}no-scroll{% endif %} {% if node.children|length == 1 %}one{% endif %}">
		                <div class="description">
			                {% include '_includes/close' %}
		                  {{ node.description }}
		                  {# {% if node.children|length > 3 %} #}
		                      {% include '_includes/arrows' %}
		                  {# {% endif %} #}
		                </div>
			            <ul class="secondary-link slider-inner">
		                    {% if node.children %}
		                        {% for subnode in node.children %}
		                            <li class="inner slide">
		                                {% if subnode.backgroundImage %}
		                                    <a class="gradient" href="{{ subnode.url }}">
			                                      {% set bg = subnode.backgroundImage.one() %}
																		        {% set transform = 
																	            [
																                {
															                    asset: bg,
															                    transform: {
														                        width: 600,
														                        height: 800,
														                        mode: 'fit',
														                        format: 'avif'
															                    }
																                }      
																	            ]
																		         %}

																		        {% set attributes = {
																		            quality: 100,
																		        } %}

																		        {{ craft.images.pictureMultiple(transform, attributes) }}
		                                       <span class="link-title" >{{ subnode.title }}</span>
		                                    </a>
		                                {% else %}
			                                <a class="link-title" href="{{ subnode.url }}">{{ subnode.title }}</a>
		                                {% endif %}
		                          </li>
		                      {% endfor %}
		                    {% endif %}
		                </ul>
		            </ul>
		        </li>
		    {% endfor %}
		</ul>
		<div class="secondary-container"></div>
	</div>
</nav>