{% set textAlignment = '' %}
{% set maxWidth = null %}
{% set can = null %}

{% for block in entry.seriesLandingSection.all() %}
    {% if block.type.handle == 'description' %}
        {% set textAlignment = block.textAlignment %}
        {% set maxWidth = block.maxWidth %}
    {% endif %}
    {% if block.type.handle == 'can' %}
        {% set can = block.canImage %}
    {% endif %}
{% endfor %}

<div class="landing-section {% if can %}series{% endif %}">
    <div class="inner {% if textAlignment %}{{ textAlignment }}{% endif %}">
        {% for block in entry.seriesLandingSection.all() %}
            {% switch block.type.handle %}
                {% case 'can' %}
                    {# {% include '_includes/can' %} #}
                    {# Include this JavaScript code in your template #}
<script>
    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    document.cookie = "isSafari=" + isSafari + "; path=/";
</script>

{# Check if the user is on Safari using JavaScript and hide/show elements accordingly #}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var isSafariCookie = document.cookie.replace(/(?:(?:^|.*;\s*)isSafari\s*=\s*([^;]*).*$)|^.*$/, "$1");
        var isSafari = isSafariCookie === "true";

        if (isSafari) {
            // Hide video, show image, or perform any other logic specific to Safari
            document.querySelector(".can-video").style.display = "none";
            document.querySelector(".can-image").style.display = "block";
        }
    });
</script>

<div class="can-container shadow">
    {% if block.canVideo.one() %}
        <div class="can-video">
            {# Display video for non-Safari browsers #}
            {% set canVid = block.canVideo.one() %}
            <video class="can" autoplay loop muted playsinline webkit-playsinline>
                <source src="{{ canVid.url }}" type="video/webm">
                <source src="{{ canVid.url }}" type='video/mp4; codecs="hvc1"'>
            </video>
        </div>
    {% endif %}

    {% if block.canImage.one() %}
        <div class="can-image" style="display: none;">
            {# Display image only on Safari #}
            {% set can = block.canImage.one() %}

            {% set transform = 
                [
                    {
                        asset: can,
                        transform: {
                            width: 800,
                            height: 1000,
                            mode: 'fit',
                            format: 'webp'
                        }
                    }      
                ]
            %}

            {% set class = {
                class: 'can',
            } %}

            {% set attributes = {
                quality: 90,
            } %}

            {{ craft.images.pictureMultiple(transform, class, attributes) }}
        </div>
    {% endif %}
</div>

            {% endswitch %}
        {% endfor %}
        <div class="text {% if entry.seriesLandingSection.type('iframe').count() > 0 %}iframe{% endif %}" {% if maxWidth %}style="max-width:{{ maxWidth }}px;"{% endif %}>
            {% for block in entry.seriesLandingSection.all() %}
                {% switch block.type.handle %}
                    {% case 'description' %}
                        {{ block.description }}
                    {% case 'buttons' %}
                        <div class="buttons">
                            {% for button in block.buttons.all() %}
                                <a class="btn border" href="{{ button.buttonLink }}" class="button">{{ button.buttonText }}</a>
                            {% endfor %}
                        </div>
                    {% case 'image' %}
                        {% set image = block.image.one() %}
                        <img {% if block.maxWidth %}style="max-width:{{ block.maxWidth }}px;"{% endif %} src="{{ image.url }}" alt="An image for {{ block.title }}">
                {% endswitch %}
            {% endfor %}
        </div>
    </div>

    {% for block in entry.seriesLandingSection.all() %}
        {% switch block.type.handle %}
            {% case 'background' %}
                {% include "_includes/background" %}
        {% endswitch %}
    {% endfor %}
</div>
