{% set textAlignment = '' %}
{% set maxWidth = null %}
{% set can = null %}

{% for block in entry.seriesLandingSection.all() %}
    {% if block.type.handle == 'description' %}
        {% set textAlignment = block.textAlignment %}
        {% set maxWidth = block.maxWidth %}
    {% endif %}
    {% if block.type.handle == 'can' %}
        {% set can = block.canImage %}
    {% endif %}
{% endfor %}

<div class="landing-section {% if can %}series{% endif %}">
    <div class="inner {% if textAlignment %}{{ textAlignment }}{% endif %}">
        {% for block in entry.seriesLandingSection.all() %}
            {% switch block.type.handle %}
                {% case 'can' %}
                    {% include '_includes/can' %}
            {% endswitch %}
        {% endfor %}
        <div class="text {% if entry.seriesLandingSection.type('lottieAnimation').count() > 0 %}lottie{% endif %}" {% if maxWidth %}style="max-width:{{ maxWidth }}px;"{% endif %}>
            {% for block in entry.seriesLandingSection.all() %}
                {% switch block.type.handle %}
                    {% case 'description' %}
                        {{ block.description }}
                    {% case 'buttons' %}
                        <div class="buttons">
                            {% for button in block.buttons.all() %}
                                <a class="btn border" href="{{ button.buttonLink }}" class="button">{{ button.buttonText }}</a>
                            {% endfor %}
                        </div>
                    {% case 'image' %}
                        {% set image = block.image.one() %}
                        <img {% if block.maxWidth %}style="max-width:{{ block.maxWidth }}px;"{% endif %} src="{{ image.url }}" alt="An image for {{ block.title }}">
                {% endswitch %}
            {% endfor %}
        </div>
    </div>

    {% for block in entry.seriesLandingSection.all() %}
        {% switch block.type.handle %}
            {% case 'background' %}
                {% include "_includes/background" %}
        {% endswitch %}
    {% endfor %}
</div>
