{% extends "index" %}

{% block content %}
	{% include "_includes/landing" %}
	{% if entry.type == 'location' %}
		<div class="outer">
			<div class="grid location">
		    {% if entry.menu | length %}
		    	<div class="grid-item">
			    	<div>
				    	<h4>Menu</h4>
			    		<p>Looking for beer and food? See what we’re serving up for dinner and lunch.</p>
		    		</div>
				    <a href="{{ entry.menu.one().url }}" target="_blank" class="arrow arrow-next">
				    	{% include "_includes/_svg/arrow.svg" %}
				    </a>
				    <img class="background" src="/images/background-images/menu.jpg" alt="Hamburger Image">
			    </div>
		    {% endif %}

		    {% if entry.tapList | length %}
		    	<div class="grid-item">
			    	<div>
				    	<h4>Tap List</h4>
					    <p>View Tap List on <img src="/images/icons/untappd.svg" alt="UNTAPPD"></p>
				    </div>
				    <a class="arrow arrow-next" href="{{ entry.tapList }}" target="_blank">
				    	{% include "_includes/_svg/arrow.svg" %}
				    </a>
			    </div>
		    {% endif %}

		    {% if entry.lifestyleImages | length %}
			    {% for image in entry.lifestyleImages %}
		        {% if loop.first %}
		        	<div class="grid-item" style="background: center / cover url({{ image.url }}) no-repeat;"></div>
		        {% endif %}
			    {% endfor %}
				{% endif %}

		    {% if entry.hours | length %}
		    	<div class="grid-item">
			    	<div>
				    	<h4>Hours</h4>
					    {{ entry.hours }}
				    </div>
			    </div>
			  {% endif %}

		    {% if entry.directions | length %}
		    	<div class="grid-item">
			    	<div>
				    	<h4>Directions</h4>
				    	<p>{{ entry.directionsDescription }}</p>
			    	</div>
					    <a href="{{ entry.directions }}" target="_blank" class="arrow arrow-next">
					    	{% include "_includes/_svg/arrow.svg" %}
					    </a>
			    </div>
		    {% endif %}

			    <div class="grid-item">
				    <div>
					    <h4>Questions</h4>
					    <p>Need some help? Looking to get a keg for a party? Just want to tell us how good our beer was? Fill out this form.</p>
				    </div>
				    <a class="arrow arrow-next" href="/contact">
				    	{% include "_includes/_svg/arrow.svg" %}
				    </a>
			    </div>

		    {% if entry.lifestyleImages | length %}
			    {% for image in entry.lifestyleImages %}
		        {% if loop.index == 2 %}
		        	<div class="grid-item" style="background: center / cover url({{ image.url }}) no-repeat;"></div>
		        {% endif %}
			    {% endfor %}
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}