{% block content %}
{% set beer = entry.featuredBeer.one() %}
{% if beer %}
    <style type="text/css">
        .title:after,
        .title:before {
            content: '{{ beer.title }}';
        }
        .title:after {
            color: {{ beer.lightColor }};
        }
        .tagline-container span {
            color: {{ beer.darkColor }};
        }
        .text-container .btn,
        .tagline-container,
        .background {
            background-color: {{  beer.lightColor }};
        }
        @media (max-width: 768px) {
            .text-container .btn {
                background-color: {{  beer.darkColor }};
            }
            .series-style {
                color: {{ beer.lightColor }};
            }
        }
    </style>
    <div class="home-landing-section" style="background-color: {{ beer.darkColor }};">
        <div class="content">
            <div class="series-container">
                <span class="series-style">{{ beer.style }}</span>
                {% set parent = beer.getAncestors().one() %}
                {% if parent %}
                    <a href="{{parent.url}}"><span class="series-title btn border">{{ parent.title }}</span></a>
                {% endif %}
            </div>
            <div class="title-container">
                <div class="title noselect">
                    {{ beer.title }}
                </div>
            </div>
            <div class="text-container">
                <div class="inner">
                    <p>{{ beer.description }}</p>
                    <a class="btn" href="{{ beer.url }}">Explore</a>
                </div>
                {% include '_includes/can' with {'block': beer} %}
                <div class="background">
                    {% set bgVid = null %}
                    {% set bgImg = null %}

                    {% for asset in beer.beerAssets %}
                        {% if asset.kind == 'video' and not bgVid %}
                            {% set bgVid = asset %}
                        {% elseif asset.kind == 'image' and not bgImg %}
                            {% set bgImg = asset %}
                        {% endif %}
                    {% endfor %}

                    {% if bgVid %}
                        <video autoplay loop muted preload="metadata" playsinline webkit-playsinline>
                            <source src="{{ bgVid.url }}" type="video/mp4">
                        </video>
                    {% elseif bgImg %}
                            {% set transform = 
                                [
                                    {
                                        asset: bgImg,
                                        transform: {
                                            width: 1920,
                                            height: 1080,
                                            mode: 'crop',
                                            format: 'webp'
                                        }
                                    }      
                                ]
                             %}

                            {% set attributes = {
                                quality: 90,
                            } %}

                            {{ craft.images.pictureMultiple(transform, attributes) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="tagline-container">
            <span>Join the Madness</span>
            <span>{{ beer.tagline }}</span>
            <span>Comin&apos; at you live from Alpine, Wyoming</span>
            <span>Join the Madness</span>
            <span>{{ beer.tagline }}</span>
        </div>
    </div>
{% else %}
    {% include '_includes/landing' %}
{% endif %}

{% include '_includes/entryToggle' with {'entry': entry.seriesToggle} %}

{% include '_includes/entryToggle' with {'entry': entry.locationToggle} %}

{% endblock %}