<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
<head>
    <title>{{ siteName }} | {% include '_includes/title' %}</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ craft.rebrand.getIcon().url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ craft.rebrand.getIcon().url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ craft.rebrand.getIcon().url }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% css "/assets/css/main.css" %}
</head>
<body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
    {% include '_includes/navigation' %}
    {% block content %}{% endblock %}
    {% include '_includes/footer' %}
    <script src="/assets/js/main.js"></script>
</body>
</html>
