{% block content %}

    {% include "_includes/seriesLanding" %}

    <div class="outer series">

        {% set beerCount = entry.getDescendants()|length %}
        <h3 class="grid-header">{{ beerCount }} Beer{{ beerCount != 1 ? 's' : '' }}</h3>

        <section class="grid">
            {# display all beers #}
            {% for beer in entry.getDescendants() %}
                <article class="grid-item" style="background-color: {{ beer.lightColor }};">
                    <div class="grid-item-inner">
                        <div class="text">
                            <a href="{{ beer.url }}">
                                {% include '_includes/can' with {'block': beer} %}
                            </a>
                            <div class="text-inner">
                                <h3>{{ beer.title }}</h3>
                                <div class="stats">
                                    {% if beer.style %}
                                        <span>{{ beer.style }}</span>
                                    {% endif %}
                                    {% if beer.alcohol %}
                                        <span>{{ beer.alcohol }}% ALC/VOL</span>
                                    {% endif %}
                                </div>
                                {% set words = beer.description|split(' ') %}
                                {% set truncatedDescription = words|slice(0, 20)|join(' ') ~ (words|length > 20 ? '...' : '') %}
                                <p>{{ truncatedDescription }}</p>
                            </div>
                        </div>
                        <a href="{{ beer.url }}" class="beer-link" style="background-color: {{ beer.darkColor }};">
                            Explore
                            {% include '_includes/_svg/arrow.svg' %}
                        </a>
                    </div>
                    <div class="dark-color" style="background-color: {{ beer.darkColor }};"></div>
                </article>

                {# Insert random photo grid-item every 3rd item #}
                {% if loop.index is divisible by 3 %}
                    {% set imagesDirectory = 'images/random-images/' %}
                    {% set imageFilenames = ['random1.jpg', 'random2.jpg', 'random3.jpg', 'random4.jpg', 'random5.jpg', 'random6.jpg', 'random7.jpg', 'random8.jpg', 'random9.jpg', 'random10.jpg', 'random11.jpg', 'random12.jpg'] %}

                    {# Get the session variable containing displayed images (initialize if not set) #}
                    {% set displayedImages = craft.app.session.get('displayedImages') ?? [] %}

                    {# Remove the displayed images from the available images #}
                    {% set availableImages = imageFilenames|filter(image => not image in displayedImages) %}

                    {# If all images have been displayed, reset the session variable #}
                    {% if availableImages|length == 0 %}
                        {% set displayedImages = [] %}
                        {% set availableImages = imageFilenames %}
                    {% endif %}

                    {# Get a random index from the available images #}
                    {% set randomIndex = random(0, availableImages|length - 1) %}

                    {# Get the random image filename from the available images #}
                    {% set randomImageFilename = availableImages[randomIndex] %}

                    {# Add the displayed image to the session variable #}
                    {% set displayedImages = displayedImages|merge([randomImageFilename]) %}
                    {% do craft.app.session.set('displayedImages', displayedImages) %}

                    {# Display the random image #}
                    <article class="grid-item random">
                        <div class="inner">
                            <img src="{{ imagesDirectory ~ randomImageFilename }}" alt="Random Image">
                        </div>
                    </article>
                {% endif %}

            {% endfor %}
        </section>
    </div>

{% endblock %}
