{% block content %}

{% set beerAssets = entry.beerAssets.all() %}

<style type="text/css">
    .text-secondary h4,
    .divider span:nth-child(even) {
        color: {{ entry.accentColor }};
    }
    .sizes span,
    .tagline,
    a.btn,
    .style-container h2 {
        color: {{ entry.darkColor }};
    }
    .divider span:nth-child(odd) {
        color: {{ entry.lightColor }};
    }
    .beer-block {
        background-color: {{ entry.lightColor }};
    }
    .bottom-bar {
        background-color: {{ entry.accentColor }};
    }
    .top-bar,
    .text-secondary,
    .series-title {
        background-color: {{ entry.darkColor }};
    }
    .awards-container .slider-nav .arrow svg * {
        fill: {{ entry.darkColor }};
    }
</style>

<div class="top-bar"></div>
<div class="bottom-bar"></div>
<article class="beer-blocks {{ entry.slug }} {{ entry.parent | kebab }}">
    <section class="beer-block main">
        {% if entry.tagline %}
            <div class="tagline-container">
                <span class="tagline">{{ entry.tagline }}</span>
                <span class="tagline">Comin’ at you live from Alpine, Wyoming</span>
                <span class="tagline">{{ entry.tagline }}</span>
                <span class="tagline">Comin’ at you live from Alpine, Wyoming</span>
            </div>
        {% endif %}

        {% include '_includes/can' with {'block': entry} %}

        <div class="text">
            <div class="inner">
                {% if entry.title %}
                    <h1{% if entry.title|length > 20 %} class="small-text"{% endif %}>{{ entry.title }}</h1>
                {% endif %}

                <div class="style-container">
                    {% if entry.style %}
                        <h2{% if entry.style|length > 10 %} class="small-text"{% endif %}>{{ entry.style }}</h2>
                    {% endif %}

                    {% set parent = entry.getAncestors().one() %}
                    {% if parent %}
                        <span class="series-title btn">{{ parent.title }}</span>
                    {% endif %}
                </div>

                {% if entry.description %}
                    {% set words = entry.description|split(' ') %}
                    <p {% if words|length > 75 %}class="small-text"{% endif %}>{{ entry.description }}</p>
                {% endif %}

                <div class="buttons">
                    <a class="btn scroll">Explore</a>
                    <a class="btn" href="/beer-finder-2000">Find it</a>
                    <a class="btn" href="#">Shop</a>
                </div>
            </div>
            {% include '_includes/characterArt' %}
        </div>

        <div class="text-secondary">
            {% if entry.alcohol | length  %}
            <div>
                <h4>ALC/VOL</h4>
                <span>{{ entry.alcohol }}%</span>
            </div>
            {% endif %}

            {% if entry.ibus | length  %}
            <div>
                <h4>IBUs</h4>
                <span>{{ entry.ibus }}</span>
            </div>
            {% endif %}

            {% if entry.tastingNotes | length %}
                <div>
                    <h4>Tasting Notes</h4>
                    <ul>
                        {% set numNotes = entry.tastingNotes|length %}
                        {% for note in entry.tastingNotes %}
                            <li>{{ note.note }}{% if loop.index < numNotes %},{% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </section>

    <div class="small-blocks">
        {% if entry.sizes | length  %}
            <section class="beer-block sizes small">
                <div class="text">
                    <h4>Available in these sizes</h4>
                    <ul>
                        {% for size in entry.sizes %}
                            <li>{{ size.value }}</li>{% if not loop.last %}<span>+</span>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {# <div class="images">
                    {% set canImg = entry.canImage.one() %}
                    <img class="can" src="{{ canImg.url }}" alt="The can for {{ entry.title }}">
                </div> #}
            </section>
        {% endif %}

        {% if beerAssets|length %}
            <section class="beer-block small">
                {% for asset in beerAssets|slice(0, 1) %}
                    {% include '/_includes/beerAssets.twig' with { 'asset': asset } %}
                {% endfor %}
            </section>
        {% endif %}
    </div>

    {% set sixPack = entry.sixPack.one() %}
    {% if sixPack | length  %}
        <section class="beer-block">
            <img class="six-pack" src="{{ sixPack.url }}" alt="The six pack for {{ entry.title }}">
        </section>
    {% endif %}

    <section class="beer-block character {% if not entry.beerStory %}no-story{% endif %}">
        <div class="image-container">
            {% for asset in beerAssets|slice(1, 1) %}
                {% include '/_includes/beerAssets.twig' with { 'asset': asset } %}
            {% endfor %}
        </div>
        {# {% include '_includes/characterArt' %} #}
        <div class="text">
            <h4>About the Character</h4>
            <h2>{{ entry.tagline }}</h2>
            {% if entry.beerStory | length  %}
                {{ entry.beerStory }}
            {% endif %}
        </div>
    </section>

    {% if entry.awards | length  %}
        <div class="small-blocks">
            <section class="beer-block awards-container">
                <h4>Awards</h4>
                {% include '_includes/awards' %}
            </section>
            <div class="image-container">
                <section class="beer-block small">
                    <img src="/images/background-images/awards-bg.jpg" alt="Our Awards">
                </section>

                <section class="beer-block small">
                    {% for asset in beerAssets|slice(2, 1) %}
                        {% include '/_includes/beerAssets.twig' with { 'asset': asset } %}
                    {% endfor %}
                </section>
            </div>
        </div>
    {% endif %}

    <section class="beer-block image">
    {% if entry.awards | length  %}
        {% for asset in beerAssets| slice(3, 1) %}
            {% include '/_includes/beerAssets.twig' with { 'asset': asset } %}
        {% endfor %}
    {% else  %}
        {% for asset in beerAssets| slice(2, 1) %}
            {% include '/_includes/beerAssets.twig' with { 'asset': asset } %}
        {% endfor %}
    {% endif %}
    </section>

    <div class="divider">
        <span>Explore more beers</span>
        <span>Explore more beers</span>
        <span>Explore more beers</span>
        <span>Explore more beers</span>
    </div>

    {% set currentSection = entry.section.handle %}
    {% set currentParent = entry.parent() %}

    {% if currentSection and currentParent %}
        {% set moreEntries = currentParent.children()
            .section(currentSection)
            .id('not ' ~ entry.id)
            .orderBy('RAND()')
            .limit(3)
            .all() %}

        {% for more in moreEntries %}
            <section class="beer-block more" style="background-color: {{ more.lightColor }};">
                <div class="text">
                    <div class="text-inner">
                        <h2>{{ more.title }}</h2>
                        <div class="stats" style="color: {{ more.darkColor }};">
                            {% if more.style %}
                                <span>{{ more.style }}</span>
                            {% endif %}
                        </div>
                        {% set words = more.description|split(' ') %}
                        {% set truncatedDescription = words|slice(0, 20)|join(' ') ~ (words|length > 20 ? '...' : '') %}
                        <p>{{ truncatedDescription }}</p>
                    </div>
                    <a href="{{ more.url }}" class="btn" style="background-color: {{ more.darkColor }};">
                        Explore
                    </a>
                    <a href="{{ more.url }}">
                        {% include '_includes/can' with {'block': more} %}
                    </a>
                </div>
                <div class="dark-color" style="background-color: {{ more.darkColor }};"></div>
            </section>
        {% endfor %}
    {% endif %}

    <section class="beer-block more" style="background-color: {{ currentParent.backgroundColor }};">
        <div class="text">
            <div class="text-inner">
                <h2>Explore the <span>{{ currentParent.title }}</span></h2>
                {% for block in currentParent.seriesLandingSection.all() %}
                    {{ block.description }}
                {% endfor %}
            </div>
            <a href="{{ currentParent.url }}" class="btn" style="color: {{ currentParent.backgroundColor }};">
                Explore
            </a>
        </div>
        {% for block in currentParent.seriesLandingSection.all() %}
            {% switch block.type.handle %}
                {% case 'background' %}
                    {% include "_includes/background" %}
            {% endswitch %}
        {% endfor %}
    </section>


</article>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const scrollContainer = document.querySelector("article");
    const mainSection = document.querySelector(".main");
    const scrollButton = document.querySelector(".btn.scroll");
    const observerOptions = {
      root: null,
      rootMargin: '0px',
      threshold: 0
    };

    const handleIntersection = (entries, observer) => {
      entries.forEach(entry => {
        if (!entry.isIntersecting) {
          scrollContainer.scrollTo({
            left: mainSection.offsetWidth + mainSection.offsetLeft,
            behavior: 'smooth'
          });
          observer.unobserve(mainSection);
        }
      });
    };

    const intersectionObserver = new IntersectionObserver(handleIntersection, observerOptions);

    intersectionObserver.observe(mainSection);

    scrollButton.addEventListener("click", function () {
      scrollContainer.scrollTo({
        left: mainSection.offsetWidth + mainSection.offsetLeft,
        behavior: 'smooth'
      });
    });

    scrollContainer.addEventListener("wheel", function (evt) {
      evt.preventDefault();
      scrollContainer.scrollLeft += evt.deltaY;
    });
  });
</script>

{% endblock %}